<footer>
    <div class="inner-footer">
      <span class="logo-footer"><a href="index.html">Burg<img src="./assets/images/logotipo.svg" alt="Logo">
        s</a></span>
      <nav>
        <ul>
          <li><a href="historia-cultura.html">Historia y cultura</a></li>
          <li><a href="turismo-ocio.html">Turismo y ocio</a></li>
          <li><a href="gastronomia.html">Gastronomía</a></li>
          <li><a href="enlaces.html">Enlaces de interés</a></li>
        </ul>
    </nav>
      <div class="social-icons">
        <a href="https://www.facebook.com/aytoburgos/" target="_blank" class="social-icons"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/Aytoburgos/" class="social-icons" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/aytoburgos/" class="social-icons" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/albbmg/HerramientasHTMLyCSSlPEC2" target="_blank" cclass="social-icons"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <p>Copyright 2023 © | Herramientas HTML y CSS I | Alba Muñoz García</p>
</footer>