:root {
    /* Colores */
    --primary-color: #242631;
    --secondary-color: #FFF;
    --contrast-color: #f3f5f6;
    --secondary-contrast-color: #787d92;

    /* Fuentes */
    --primary-font: 'Poppins', sans-serif;
    --primary-titles-font: 90px; 
    --secondary-titles-font: 60px;
    --subtitles-font: 22px;
    --secondary-subtitles-font: 20px;
    --text-font: 16px;

    --secondary-titles-font-mobile: 35px;

    --titles-weight: bold;
    --text-weight: normal;

    --line-height-desktop: 60px; 
    --line-height-mobile: 50px;

    /* Espacios */
    --small-space: 0.5rem; 
    --mid-space: 1rem; 
    --big-space: 2rem;
    --bigger-space: 5rem;  
}