/**
 * In this file we will include our different partials.
 */

/**
 * Import variables
 */
 @import "_variables.css";

/**
 * Import FontAwesome
 */
@import "npm:@fortawesome/fontawesome-free/css/all.css";  

/* src/main.css */
@import '_reset.css';
@import '_elements.css';


* {
  box-sizing: border-box;
  font-family: var(--primary-font );
  scroll-behavior: smooth;
}
main, header, .inner-footer {
  max-width: 1440px; 
  padding: 0 var(--big-space ); 
  margin: 0 auto; 
  color: var(--primary-color ); 
  font-size: var(--text-font );
}
h1 {
  font-size: var(--primary-titles-font );
  font-weight: var(--titles-weight);
  line-height: var(--line-height-desktop); 
  text-align: center; 
}
h2 {
  font-size: var(--secondary-titles-font );
  font-weight: var(--titles-weight);
  line-height: 60px;
}
h3 {
  font-size: var(--subtitles-font );
  font-weight: var(--titles-weight);
}
a {
  color: var(--secondary-contrast-color ); 
}
a:hover {
  color: var(--primary-color ); 
}
button {
  background-color: var(--primary-color );
  font-size: var(--secondary-subtitles-font );
  border-radius: 100px;
  padding: 20px 40px 20px 40px; 
  border: none;
  display: inline-block;
}
button a {
  color: var(--secondary-color );
}
button:hover {
  background-color: var(--secondary-contrast-color );
  color: var(--primary-color );
}
button a:hover {
  color: var(--secondary-color );
}
p.subtitle {
  font-size: var(--secondary-subtitles-font ); 
  text-transform: uppercase;
}
.section-title {
  font-size: var( --secondary-subtitles-font );
  font-weight: var(--text-weight);
}
header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  position: sticky; 
  top: 0; 
  background-color: var(--secondary-color );
  z-index: 2;
}
.logo, .logo-footer {
  display: flex; 
  align-items: center;
  font-size: var(--secondary-titles-font );
  font-weight: var(--titles-weight);
}
.logo a {
  text-decoration: none;
  color: var(--primary-color ); 
}
.logo img, .logo-footer img {
  width: 45px; 
  height: 45px; 
  object-fit: cover; 
  margin-bottom: -5px;
  margin-right: -15px;
  animation: pulsante 1s infinite;
}
@keyframes pulsante {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.05); /* Tamaño ligeramente más grande */
  }
  100% {
    transform: scale(1); /* Volver al tamaño original */
  }
}

header nav ul {
  display: flex; 
  align-items: flex-end;
}
header nav ul li {
  list-style: none;
  margin-left: 50px;
}
header nav ul li a {
  color: var(--primary-color );
  text-decoration: none;
  font-weight: var(--titles-weight);
}
header nav ul li a:hover {
  color: var(--secondary-contrast-color ); 
}
footer {
  background-color: var(--primary-color );
  padding-top: var(--big-space );
  padding-bottom: var(--big-space );
  color: var(--secondary-color );
  display: flex; 
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.logo-footer a {
  text-decoration: none;
  color: var(--secondary-color ); 
}
.inner-footer {
  width: 100vw; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.inner-footer a, .inner-footer p {
  text-decoration: none;
  color: var(--secondary-color ); 
}
footer p {
  text-align: center; 
}
.inner-footer ul {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 20px; 
}
.inner-footer ul li {
  text-align: center; 
}
.inner-footer ul li a:hover{
  text-decoration: underline; 
  text-align: center; 
}
.social-icons {
  display: flex; 
  align-items: center;
  gap: 25px; 
  justify-content: flex-end;
}

/* Inicio */
.hero {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 75vh; 
  background-image: url('../images/burgos-hero.webp');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 20px; 
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.35); /* Agregamos un sombreado en la misma forma que el contenedor */
  animation: fade-in-up 1s ease-in-out;
}
.hero h1, .hero p {
  text-align: center; 
}
.hero p {
  font-weight: var(--titles-weight);
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.categories {
  display: flex; 
  justify-content: space-between; 
  margin-top: -50px; 
  margin-bottom: var(--bigger-space );
}
.categories .col-1, .categories .col-2, .categories .col-3  {
  background-color: var(--secondary-color );
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px; 
  border-radius: 20px;
  width: 32%;
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-items: center;
}
.categories h3 {
  font-size: var(--subtitles-font );
  font-weight: var(--titles-weight);
}
.categories a, .detail a, .detail-cat a {
  color: var(--primary-color ); 
  text-decoration: none; 
}
.categories a:hover, .detail a:hover { 
  text-decoration: underline; 
}

.info {
  display: flex; 
  align-items: center;
  margin-bottom: var(--bigger-space );
  gap: var(--big-space ); 
}
.info .col-1, .info .col-2 {
  display: flex; 
  flex-direction: column;
  gap: 20px; 
  width: 50%
}
.info .col-1 button {
  display: flex; 
  flex-direction: column;
  gap: 20px; 
  align-self: flex-start; 
}
.info .clip-img {
  clip-path: path('M150,0 C69.1,0 0,69.1 0,150 C0,295.44 150,450 150,450 C150,450 300,295.44 300,150 C300,69.1 230.9,0 150,0 Z');
  object-fit: cover;
  object-position: center;
  height: 450px !important;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}

.detail {
  background-color: var(--contrast-color ); 
  padding: 50px; 
  border-radius: 20px;
  margin-bottom: var(--bigger-space );
}
.detail p, .detail h2 {
  text-align: center; 
}
.inner {
  display: flex; 
  margin-top: var(--big-space );
  justify-content: space-between; 
}
.inner .col-1, .inner .col-2, .inner .col-3 {
  padding: 25px; 
  border-radius: 20px;
  width: 32%;
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-items: center;
  border: 3px solid var(--secondary-color );
  text-align: center; 
}
.inner img {
  object-fit: cover;
  border-radius: 20px;
} 

/* Páginas de categoría: Historia y cultura, Turismo y Ocio y Gastronomía */
.secondary-hero {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 25vh; 
  background-image: url('../images/burgos-hero.webp');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 20px; 
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.35); /* Agregamos un sombreado en la misma forma que el contenedor */
  animation: fade-in-up 1s ease-in-out;
}

.detail-cat {
  padding: 50px; 
  border-radius: 20px;
  margin-bottom: var(--bigger-space );
}
.detail-cat p, .detail-cat h2 {
  text-align: center; 
}
.inner-cat {
  display: flex; 
  margin-top: var(--big-space );
  justify-content: space-between; 
}
.inner-cat .col-1, .inner-cat .col-2, .inner-cat .col-3 {
  padding: 25px; 
  border-radius: 20px;
  width: 32%;
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; 
}
.inner-cat img {
  width: 275px; 
  height: 250px; 
  object-fit: cover;
  border-radius: 20px;
}

/* Páginas de detalle: La cuna del Cid Campeador, El Castillo y Comida Cultura y Diversión*/
.detail-hero {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 25vh; 
  background-image: url('../images/burgos-hero.webp');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 20px; 
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.35);
  margin-bottom: var(--bigger-space);
  animation: fade-in-up 1s ease-in-out;
}

.image-burgos {
  border-radius: 20px; 
  max-width: 90vw;
  object-fit: cover; 
}
.cat-img {
  border-radius: 20px;
}

.img-gallery {
  display: flex; 
  gap: 35px; 
}

.image-container {
  position: relative;
  display: inline-block;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.circle {
  background-color: var(--secondary-color );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}
.pulse {
  animation: pulse-animation 1s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
  }
}

.description {
  text-align: center; 
  padding: var(--big-space); 
  margin-top: -100px; 
  color: var(--secondary-color );
  font-weight: var(--titles-weight);
  background-color: var(--primary-color );
  position: relative;
  z-index: 1; 
  width: 80%; 
  border-radius: 20px; 
}

.nav-btns {
  margin: 0 auto; 
  display: flex;
  justify-content: space-between; 
  width: 400px; 
  gap: var(--big-space); 
  margin-bottom: var(--bigger-space); 
}

/* Página de enlace */
.link-title {
  text-align: center; 
}

dl {
  margin-bottom: 15px;
}
dt {
  position: relative;
  padding-left: 20px;
  margin-top: 25px; 
}
dd {
  word-break: break-all;
}

dt:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #000;
  animation: rotateSquare 2s infinite linear;
}

@keyframes rotateSquare {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}


@media screen and (max-width: 1024px) {
  main, header, .inner-footer {
    padding: 0 var(--mid-space ); 
  }   
  header, header nav ul {
    flex-direction: column;
    padding-bottom: 10px
  }
  header nav ul {
    align-items: center;
  }
  header nav ul li {
    margin: 0;
  }

  .info {
    flex-direction: column; 
  }
  .info .col-1, .info .col-2 {
    width: 100%;
  }
  .info img {
    margin-top: var(--big-space );
  }

  .inner {
    flex-direction: column;
  }
  .inner .col-1, .inner .col-2, .inner .col-3 {
    width: 100%;
    margin-top: 20px;
  }

  .inner-cat {
    flex-direction: column;
  }
  .inner-cat .col-1, .inner-cat .col-2, .inner-cat .col-3 {
    width: 100%;
    margin-top: 20px;
  }

  .inner-footer {
    width: 90%; 
    flex-direction: column;
  }
  .inner-footer ul {
    flex-direction: column;
  }

  .img-gallery {
    flex-direction: column;  
    justify-content: center;
    align-items: center; 
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 0 var(--small-space ); 
  }
  footer {
    padding: var(--mid-space );
    gap: 35px
  }
  h1 {
    font-size: 35px;
    line-height: var(--line-height-mobile);
  }
  h2 {
    font-size: var(--secondary-titles-font-mobile);
    line-height: 30px; 
  } 

  .social-icons { 
    justify-content: center;
  }

  .categories {
    flex-direction: column;
    align-items: center;
  }
  .categories .col-1, .categories .col-2, .categories .col-3  {
    width: 100%;
    margin-top: 20px; 
  }

  .nav-btns {
    flex-direction: column;
    gap: 5px; 
    width: 50%;
  }
}